.spanMove{
    animation-name: spanMove;
    animation-duration: 0.9s;
}

.spanOp{
    opacity: 0;
    transition: all 0.2s;
}


@keyframes spanMove {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}